body {
  font-family: 'Noto Sans Mono', sans-serif;
  line-height: 1.5em;
  padding: 20px;
}

.header {
  display: flex;
  line-height: 2em;
  flex-direction: row;
  align-items: center;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-top: 125px;
  padding-bottom: 160px;
  max-width: 720px;
}

span {
  font-family: 'inter';
}

a {
  color: #A9A9A9;
  text-underline-offset: 0.2em;
  text-decoration: none;
}

.typing-title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: #000;
}

.navbar {
  overflow: hidden;
  cursor: url("img/ladybug.png") 4 4, auto;
}
    
.navbar a {
  float: right;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}

.navbar a {
  font-size: 12px;
}

.navbar a s {
  color: #A9A9A9;;
}
    
.navbar a.right {
  float: right;
  font-size: 12x;
}

.time-zone {
  font-size: 12px;
  margin-top: -20px;
}

.time-zone p {
  margin-bottom: -5px;
}
    
@media screen and (max-width: 600px) {
  .navbar a.right {
   display: block;
   float: none;
   text-align: right;
  }
}

.gallery-container { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 120px;
  padding-right: 120px;
  gap: 15px;
}

.gallery-card {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  font-family: 'inter';
  transition: transform 0.3s ease;
}

.gallery-card:hover {
  transform: translateY(-15px);
}

.gallery-card img {
  width: 250px;
  object-fit: cover;
}