* {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
    color: #000000;
    font-family: "Didot", "Verdana", sans-serif;
    box-sizing: border-box;
  }
  
  @media screen and (max-width: 1050px) {
    .svg-column {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 750px) {
    .svg-column {
      float: left;
      width: 100%;
      padding: 10px;
    }
    .triple-column {
      width: 100%;
    }
  }
  
  .highlight-green {
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #DCE4CF 50%);
  }
  
  .highlight-white {
    background: linear-gradient(180deg,rgba(255,255,255, 0) 65%, #ffffff 50%);
  }
  
  .highlight-green-thin {
    background: linear-gradient(180deg,rgba(255,255,255, 0) 80%, #DCE4CF 80%);
  }
  
  .highlight-white-thin {
    background: linear-gradient(180deg,rgba(255,255,255, 0) 80%, #ffffff 80%);
  }
  
  .green-green-background {
    background: linear-gradient(to right, #DCE4CF 50%, #265037 50%);
    display: flex;
    flex-direction: column;
  }
  .space {
    margin-right: 10px;
    margin-left: 10px;
  }

  a {
    text-decoration: none;
  }
  
  .name-container {
    display: inline-block;
  }

  .name-background {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .name {
    font-size: 500%;
    letter-spacing: 10px;
    font-weight: bold;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
      typing 2s steps(20),
      cursor .5s step-end infinite alternate;
  }

  @keyframes cursor {
    50% { 
      border-color: transparent 
    }
  }

  @keyframes typing {
    from { 
      width: 0 
    }
  }

  .name-icon {
    width: 1.5em;
    display: inline;
    position: relative;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: -10px;
  }

  .header {
    display: block;
    margin-top: 50px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 70%;
  }
  
  .intro {
    font-size: 115%;  
  }
  
  .margin {
    margin-left: 110px;
    margin-right: 110px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  
  .social-media {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .social-media li {
    margin-right: 10px;
  }
  
  .social-media-icon {
    margin: 0 1em;
  } 
  
  .copyright {
    margin-top: 5px;
    margin-bottom: 50px;
    text-align: center;
  }

  .made-with-love {
    margin-bottom: 5px;
    text-align: center;
  }
  
  .green-background {
    background: #DCE4CF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .white-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .sec-title {
    font-size: 300%;
    text-align: center;
    font-weight: bold;
    margin-top: 0;
  }
  
  p {
    margin: 0;
    margin-top: 1.5rem;
    font-size: 16px;
  }
  
  .bio {
    margin-top: 25px;
    font-size: 115%;
    font-style: italic;
    text-align: center;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2.5s ease forwards;
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .proj-title {
    font-size: 150%;
  }
  
  .proj-text {
    margin-top: 0;
    font-style: italic;
    padding-top: 5px;
    font-size: 16px;
    margin-left: 5%;
  }
  
  .icon {
    width: 2em;
    display: inline;
    position: relative;
    top: 0.75em;
  }
  
  .svg-center {
    text-align: center;
  }

  footer {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }

  footer a {
    margin-right: 15px;  
    margin-top: 30px;
  }
  
  footer img {
    width: 50px; 
    margin-bottom: -10;
  }

  .heart {
    width: 1em;
    display: inline;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .email {
    width: 15px;
    display: inline;
    position: relative;
    margin-top: 0px;
    margin-bottom: -3px;
    margin-right: 5px;
  }