body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
  margin: 20px;
}

.header {
  display: flex;
  line-height: 2em;
  flex-direction: row;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-top: 100px;
  max-width: 720px;
}

a {
  color: #d0300d;
  text-underline-offset: 0.2em;
  text-decoration: underline;
}

.typing-title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: #000;
}

    /* Navbar Styles */
    .navbar {
      overflow: hidden;
    }
    
    .navbar a {
      float: right;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .navbar a.right {
      float: right;
    }
    
    /* Responsive Styles */
    @media screen and (max-width: 600px) {
      .navbar a.right {
        display: block;
        float: none;
        text-align: right;
      }
    }

